.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 3rem;
}

.header__name {
  opacity: 70%;
}

.header__name:hover {
  opacity: 100%;
  color: #0062ff;
  transition-duration: 500ms;
}

