.footer {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;

  padding: 1rem 5rem;
  font-size: 0.9rem;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.footer__item {
  cursor: pointer;
  opacity: 80%;
}

.footer__item:hover {
  opacity: 100%;
  text-decoration: underline;
  transition-duration: 500ms;
}